*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=cyrillic,cyrillic-ext');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic');

.container{
	width: 1127px;
}

.container-fluid{
	width: 100%;
}

body{
font-family: 'Noto Sans', 'Open Sans', sans-serif;
}

a{
	text-decoration: none;
}

ul{
	list-style:none;
}

p{
	font-size: 15px;
	color: #000;
}

.top-bg{
	background-image: url(../img/top-bg.gif);
	-webkit-background-size: cover;
	background-size: cover;
}

.top-logo{
	padding-top: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.top-contacts{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.top-social{
	margin-left: 20px;
	margin-bottom: 15px;
}

.top-social img{
	padding-right: 10px;
}

.top-phone{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
}

.top-phone-text p{
	margin-left: 10px;
	font-size: 13px;
	line-height: 16px;
	color: #ffe677;
	font-weight: 200;
}

/*TOP MENU BEGIN*/



.top-menu{
	margin-top: 20px;
background-color: rgba(255,255,255, 0.3);
}
	
.u-t-menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}	

.u-t-menu > li{
	position: relative;
	text-align: center;
	padding-top: 14px;
	padding-bottom: 12px;
}

.u-t-menu > li:hover{
	background-color: rgba(88,93,167,0.7);
}

.t-menu-text p{
	font-size: 14px;
	color: #fff;
	font-weight: 800;
	text-transform: uppercase;
}



/*BURGER*/
nav {
	position: relative;
}

.burg {
	width: 50px;
	height: 50px;
	background-color: #A8A8A8;
	border: none;
	margin: 5px;
	cursor: pointer;
	outline: 0 none;
	position: relative;
}

.burg:hover{
	background-color: grey;
}

.burg span {
	display: block;
    margin: 7px auto 7px auto;
    width: 5px;
    height: 5px;
    background-color: #fff;
}


.top-nav {
	position: absolute;
	top: 60px;
	left: 5px;
	width: 98%;
	display: none;
}
.top-nav.active {
	display: block
}
.top-nav > ul {	
	display: flex;
	flex-direction: column;
}

.top-nav ul li {
	border-bottom: 1px solid #6A6A6A;
}
.top-nav a {
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	padding: 7px;
}




/*SUB-MENU  BEGIN*/
.sub-menu{
    z-index: 30;
  list-style:none;
  position:absolute;
  display: none;
	width: auto;
 /* left:-9999px; */
   padding-top: 10px;
   background-color: #7d8cde;
  left: -600px;
  margin-top: 14px;
}

.u-t-menu > li:hover .sub-menu{
  display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row; 
}

.sub-menu li{
	margin-right: 30px;
	padding-bottom: 12px;
	padding-left: 20px;
}

.sub-menu li a{
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
}


.sub-menu li a:hover{
	text-decoration: underline;
}

/*SUB-MENU  END*/

/*BURGER*/

/*TOP MENU END*/

/*CONTENT BEGIN*/
.back a{
	font-weight: 600;
	color: #000;
}
.back{
	padding-left: 5px;
	padding-top: 60px;
}
.breadcrumbs {

}

.breadcrumbs ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 9px 0px;
}

.breadcrumbs li{
	padding-right: 5px;
}

.breadcrumbs li:nth-child(1) a::after,
.breadcrumbs li:nth-child(2) a::after
{
	padding-left: 5px;
	content: '/';
}

.breadcrumbs a{
	font-weight: 600;
	font-size: 14px;
	padding-right: 5px;
	color: #000;
}

.breadcrumbs .current-b{
	color: #6b6f74;
	text-decoration: none;
}

.top-h1{
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 400;
	padding-top: 60px;
	padding-bottom: 50px;
	text-align: center;
}
.portolio-1{
	
}
.portf-1-1{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.card{
	padding: 0 10px;
	width: 100%;
	}

	.card img{
		width: 100%;
		padding-top: 10px;
	}



.t-menu-text:nth-child(1) a::before{
	content: ' ';
	display: block;
	width: 24px;
	height: 20px;
	margin: 0 auto 0 auto;
	background-image: url(../img/top-menu-home.png);
	background-repeat: no-repeat;
}

.t-menu-text:nth-child(2) a::before{
	content: ' ';
	display: block;
	width: 32px;
	height: 20px;
	margin: 0 auto 0 auto;
	background-image: url(../img/top-menu-book.png);
	background-repeat: no-repeat;
}

.t-menu-text:nth-child(3) a::before{
	content: ' ';
	display: block;
	width: 24px;
	height: 20px;
	margin: 0 auto 0 auto;
	background-image: url(../img/top-menu-uslygi.png);
	background-repeat: no-repeat;
}

.t-menu-text:nth-child(4) > a::before{
	content: ' ';
	display: block;
	width: 24px;
	height: 20px;
	margin: 0 auto 0 auto;
	background-image: url(../img/top-menu-portfolio.png);
	background-repeat: no-repeat;
}

.t-menu-text:nth-child(5) a::before{
	content: ' ';
	display: block;
	width: 24px;
	height: 20px;
	margin: 0 auto 0 auto;
	background-image: url(../img/top-menu-pero.png);
	background-repeat: no-repeat;
}

.t-menu-text:nth-child(6) a::before{
	content: ' ';
	display: block;
	width: 24px;
	height: 20px;
	margin: 0 auto 0 auto;
	background-image: url(../img/top-menu-mail.png);
	background-repeat: no-repeat;
}


	.p-1-1 .anons,.p-1-2 .anons,.p-1-3 .anons {
		margin-bottom: 5px;
	position: absolute;
	bottom: 0px;
	left: 10px;
	right: 10px;
	padding: 10px;
	background-color: rgba(121,27,125, 0.8);
	color: #fff;
	opacity: 0;
	transition: opacity 0.5s;
	}

	.p-1-1:hover .anons,.p-1-2:hover .anons,.p-1-3:hover .anons{
	bottom: 0;
	opacity: 1;
	}

	.porfolio-pages{
		margin-bottom: 25px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}

	.porfolio-pages a{
		margin-left: 10px;
		font-size: 20px;
		color: #858585;
	}

	.porfolio-pages a:hover{
		color: #000;
	}
	
	.porfolio-pages span{
		text-decoration: underline;
		color: #000;	
	}



/*STATYA BEGIN*/
	.statya{
		padding-top: 50px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		//justify-content: space-between;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.s-img img{
  	width: 100%;
  }	

  

  .s-text h2{
  	text-align: center;
  	font-size: 30px;
  }

  .s-text-data{
  	text-align: center;
  	font-size: 12px;
  	color: #909090;
  	padding-bottom: 30px;
  }

  .s-text{
		font-weight: 600;
  }

  .author{
		text-decoration: underline;
  }

  .statya-img{
  	margin-top: 75px;
  	display: -webkit-flex;
  	display: -moz-flex;
  	display: -ms-flex;
  	display: -o-flex;
  	display: flex;
  	-webkit-flex-direction: row;
  	-moz-flex-direction: row;
  	-ms-flex-direction: row;
  	-o-flex-direction: row;
  	flex-direction: row;
  	justify-content: space-around;
  	-webkit-flex-wrap: wrap;
  	-moz-flex-wrap: wrap;
  	-ms-flex-wrap: wrap;
  	-o-flex-wrap: wrap;
  	flex-wrap: wrap;
  }

  .statya-img-bottom{
  	padding-top: 10px;
  }

.social-content{
	padding-top: 105px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: flex-start;
}
/*STATYA END*/

	.perexod {
		margin-top: 160px;
		margin-bottom: 140px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}

.perexod a{
	color: #000;
	font-weight: 600;
}	
.perexod a:hover,.back a:hover{
	color: #776969;
	text-decoration: underline;
}	



/*CONTENT END*/

/*FOOTER BEGIN*/
footer{
	border-top: 4px solid #f39e00;
}
.footer-bg{
	background-color: #212121;	
}

.f-contacs p{
	color: #fff;
}

.f-contacs{
	padding-top: 30px;
	padding-bottom: 25px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.bottom-gold{
	height: 4px;
	background-color: #f39e00;
}

.adress-email{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}

.f-adress-email{
	padding-left: 130px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.f-adress-email img{
	padding-right: 10px;
}

.f-phone{
	padding-left: 60px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.f-phone p{
	padding-left: 10px;
}

.design p{
	text-align: right;
	color: #a2a6a8;
	font-size: 11px;
}



/*FOOTER END*/


/*MEDIA SCREENS*/
@media only screen and (min-width: 481px){
	.card{
	padding: 0 10px;
	width: 50%;
	}

	  .statya-img-bottom img{
	width: 50%;	
  }

 .statya-img-bottom div,  .statya-img-bottom img{
		height: 100%;
		width: auto;
	}

}

@media only screen and (max-width: 767px){
	.container{
		width: 100%;
	}

	.container-fluid{
		width: 100%;
	}


	.top-h1{
		font-size: 22px;
	}
}

@media only screen and (min-width: 768px) {	
	.container{
		width: 768px;
	}
  .container-fluid{
  	width: 100%;
  }	
 
}



 @media only screen and (max-width: 1023px){
	.logo-img{
			display: none;
		}

		.logo-small{
  	display: block;
  	}

  	 .u-t-menu{
  	display: none;
  }

.top-nav > ul {	
	width: 100%;
	background-color: rgba(131, 131, 131, 1);
	
}
 
 }

 @media only screen and (min-width: 1024px) {

.card{
	padding: 0 10px;
	width: 25%;
	}

	.card div, .card img{
		height: 100%;
		width: auto;
	}

.card:nth-of-type(2),
.card:nth-of-type(6),
.card:nth-of-type(8),
.card:nth-of-type(10){
	width: 50%;
}

.card:nth-of-type(2) img,
.card:nth-of-type(6) img,
.card:nth-of-type(8) img,
.card:nth-of-type(10) img{
	width: 100%;
}


.card div{
	overflow: hidden;
}


  .container {
    width: 984px;
  }

  .container-fluid{
  	width: 100%;
  }

  .burg {
		display: none;
	}
	
	.top-nav {
		display: block;
		position: relative;
		top: 0;
		left: 0;
		width: auto;
	}
	.top-nav > ul {
	flex-direction: row;
}
  
    .logo-img img{
  	width: 450px;
  } 

  .logo-small{
  	display: none;
  }

	.sub-menu {
	  z-index: 30;
	  list-style:none;
	  position:absolute;
	  display: none;
	  width: 996px;
	 /* left:-9999px; */
	  padding-top: 10px;
	  background-color: #7d8cde;
	  left: -512px;
	  margin-top: 12px;
}

 }


 @media only screen and (min-width: 1200px) {

  .container {
    width: 1200px;
  }
    .container-fluid{
  	width: 100%;
  }

  .sub-menu {
	  z-index: 30;
	  list-style:none;
	  position:absolute;
	  display: none;
	  width: 1200px;
	 /* left:-9999px; */
	  padding-top: 10px;
	  background-color: #7d8cde;
	  left: -600px;
	  margin-top: 12px;
}
 
 }  